<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>WIPRO DIGITAL</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#leaders" class="w3-bar-item w3-button">Leaders</a>
      <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/bbf16cad0c719b7cd3fb031871de4c36" src="Author-WD.png" alt="WIPRO DIGITAL" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="leaders">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Leaders</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Alex Beal</div>
        <img src="alex-beal-b1e36fe6.jpeg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Andy Coghlan</div>
        <img src="Andy-Coghlan-1.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Madhusudan Murthy</div>
        <img src="RP9QrZl5.jpeg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Rajan Kohli</div>
        <img src="g99ZZT3l.png" alt="House" style="width:100%">
      </div>
    </div>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Kiran MR</div>
        <img src="kiran-mr-400x276.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Sudhir Kesavan</div>
        <img src="sudhir-kesavan-400x276.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Rituparna Ghosh</div>
        <img src="rituparna-ghosh-400x276.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Madhu Madhanan</div>
        <img src="Madhumadan.jpg" alt="House" style="width:99%">
      </div>
    </div>
  </div>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>We are an innovation-led, digital transformation partner built for today’s digital challenges. We focus on the things that matter - the insights, the interactions,
      the integrations, and innovations that make extraordinary things happen for brands, businesses and their customers.We mesh, we shape, we tinker, we think, we study,
      we ask, we try, we question, we build, we collaborate and we exceed. We do.
    </p>
  </div>

  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="muniswamy-400x276.jpg" alt="Muniswamy" style="width:100%">
      <h3>Muniswamy Bharathi</h3>
      <p class="w3-opacity">Head of Presales</p>
      <p>Muniswamy Bharathi is exited to be a part of wipro digital,working closely with clients to find out-of-the-box solutions.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="sandhya-arun-400x276.jpg" alt="Sandhya" style="width:100%">
      <h3>Sandhya Arun</h3>
      <p class="w3-opacity">Global Delivery Head</p>
      <p>Sandhya's approach to running our global delivery is to see digital as work and play-a philosophy she has held over two decades.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="jeremy-leach-400x276.jpg" alt="Jeremy" style="width:100%">
      <h3>Jeremy Leach</h3>
      <p class="w3-opacity">Global Head of Strategy and Digitalization</p>
      <p>Jeremy leads the strategy and digitalization helping clients reimagine and re-engineer their fulfillment and improve coustomer service</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="rahul-shah-400x276.jpg" alt="Rahul" style="width:100%">
      <h3>Rahul Shah</h3>
      <p class="w3-opacity">Global head of Patnership</p>
      <p>Rahul's approach starts with theme-led thought process that provides client with the starting point in their digital transformation journey.</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Your reviews !!!</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>

<!-- Image of location/map -->
<div class="w3-container">
  <img src="earth-png-map-11.png" class="w3-image" style="width:100%">
</div>

<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">Wipro Digital</a></p>
</footer>
